

.hero{
    width: 100%;
    /* height: auto; */
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
}

.hero_left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}


.hero_left h2{
    color: #090909;
    font-size: 20px;
    font-weight: 600;
    
}
.hero_left p{
    color: #171717;
    font-size: 70px;
    font-weight: 600;
    line-height: 1.3em;
}

.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-hand-icon img{
    width: 70px;
}

.hero-latest-btn{
display: flex;
justify-content: center;
align-items: center;
gap: 15px;
width: 230px;
height: 60px;
border-radius: 75px;
margin-top: 30px;
background-color: #ff4141;
color: white;
font-size: 16px;
font-weight: 500;
}

.hero-right{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.hero-right img{
   width: 90%;
}




@media (max-width:1100px){

    
    .hero{
       padding: 50px 50px;
    }

    .hero_left{
        width: 60%;
        /* background-color: #ff4141; */
    }

    .hero_left h2{
        margin-bottom: 20px;
    }


    .hero_left p{
        font-size: 40px; 
        line-height: 1.6em;
    }

    .hero-right {
        
        width: 40%;
    }
    .hero-right img {
        width:80%;
    }

   
 
    }







@media(max-width: 992px){
    .hero{
        width: 100%;
        padding: 50px 50px;
    }

    .hero_left{
        width: 60%;
        /* background-color: #ff4141; */
        padding-left: 0px;
        padding: 50px 50px 50px 50px;
        justify-content: left;
        align-items: left; 
    }

    .hero_left h2{
        margin-bottom: 20px;
    }


    .hero_left p{
        font-size: 40px; 
        line-height: 1.6em;
    }

    .hero-right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
    }
    .hero-right img {
        width:100%;
    }

}




@media (max-width:768px){

    
    .hero{
       padding: 50px 50px;
    }
   
 
    }


    @media (max-width:600px){

    
        .hero{
           flex-direction: column;
           gap: 50px;
        }
        .hero_left{
            width: 100%;
            padding: 0px 0px 0px 0px;
        }
        .hero_right{
            width: 100%;
        }
        .hero-right {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
       
     
        }
 


@media(max-width: 500px){
    .hero {
        width: 100%;
       flex-direction: column;
       gap: 50px;
       
    }

    .hero_left{
        width: 100%;
        /* background-color: #ff4141; */
        padding: 0px;
        /* padding: 50px 50px 50px 50px; */
        justify-content: left;
        align-items: left; 
    }

    .hero_left p{
        font-size: 30px; 
        line-height: 1.6em;
    }
    .hero_left h2{
        font-size: 12px; 
    }

    .hero-hand-icon p{
        font-size: 30px;
    }
    .hero-hand-icon img{
      width: 30px;
    }


    .hero-right{
        width: 100%;
        /* background-color: #ff4141; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-right img{
        width: 80%;
        /* background-color: #ff4141; */
    }
    .hero {
    width: 100%;
    flex-direction: column;
    gap: 50px;
    margin-top: 60px;
}
}