

.shop-category .shopcategory-banner{
    width: 100%;
}

.shopcategory-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888888;
}

.shopcategory-indexSort p span{
    font-weight: 600;
}

.shopcategory-product{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;

   
}

.shopcategory-product img{
   width: 100%;
}

.item p {
    margin-top: 6px 0px;
    margin-top: 20px;
    margin-bottom: 10px;
}


.shopcategory-lodemore{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 195px;
    height: 58px;
    border-radius: 75px;
    margin: 150px auto;
background: #ededed;
color: #787878;
font-size: 18px;
font-weight: 500;
}